/* Page-Wide Common Styles */

html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#features {
    width: 100%;
}

.language-chai {
    font-size: 1rem;
}