<div class="docs-container">
    <section-title>Documentation</section-title>
    <div class="docs-list">
        <doc-card name="The Book" href="/docs/book">
            The Book is a comprehensive guide to Chai starting from the very
            basics to the most advanced topics of the language.  It is the
            recommended quickstart text for beginners and a useful reference for
            language veterans.  It also serves as the primary language reference
            for Chai.  Work through it gradually and slowly: you won't finish it
            in one day.
        </doc-card>
        <doc-card name="Module Schema" href="docs/module-schema">
            The Module Schema documents the various options that can be passed
            specified in module files as well as the semantics involved in
            loading and determining the build profile.  Reading this document
            should give you a complete understanding of how Chai processes
            modules.
        </doc-card>
        <doc-card name="Chai MIR" href="docs/chai-mir">
            This file documents Chai's Middle Intermediate Representation.  It
            is used to perform optimizations, simplify transformation to LLVM
            IR, and allow Chai developers to more easily target the language to
            other platforms.  This document is not relevant to the vast majority
            of Chai's normal users -- of course, should curiosity compel you,
            you are welcome to read it.
        </doc-card>
    </div>
</div>