<div class="docs-container">
    <section-title>Documentation</section-title>
    <div class="docs-list">
        <doc-card name="The Guide" href="docs/guide">
            The Guide is an introductory tutorial designed to teach the
            fundamentals of Chai and get you started writing useful programs as
            fast as possible. It is intended for beginners but can be useful to
            anyone trying to learn the language.  It is the primary introductory
            learning resource for the Chai programming language.
        </doc-card>
        <doc-card name="Language Specification" href="/docs/spec">
            The Language Specification is the comprehensive and definitive
            reference and specification for the Chai programming language. It is
            dense and formal but thorough.  This document is not recommended for
            beginners but is an important resource for more experienced Chai
            developers.
        </doc-card>
    </div>
</div>