<div class="docs-container">
    <section-title>Documentation</section-title>
    <div class="docs-list">
        <doc-card name="Language Specification" href="/docs/spec">
            The Language Specification is the comprehensive and definitive
            reference and specification for the Chai programming language. It is
            dense and formal but thorough.  This document is not recommended for
            beginners but is an important resource for more experienced Chai
            developers.
        </doc-card>
        <doc-card name="Module Schema" href="docs/module-schema">
            The Module Schema documents the various options that can be passed
            specified in module files as well as the semantics involved in
            loading and determining the build profile.  Reading this document
            should give you a complete understanding of how Chai processes
            modules.
        </doc-card>
    </div>
</div>