header::after {
    background-image: url(/images/blue-ribbon.png)
}

.heading-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 70%;

    margin-left: auto;
    margin-right: auto;

    margin-top: -4rem;
    margin-bottom: -2rem;
}

.heading-card a img {
    max-width: 220rem !important;
    margin-left: -4rem !important;
}

.heading-card .right-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.heading-card .right-aside .tagline {
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem;
    font-style: italic;

    margin-bottom: 2rem;
}

.heading-card .right-aside .call-action {
    font-size: 1.5rem;
    padding: 10px;
    background-color:#00a8ec;
}

article {
    font-size: 1.2rem;

    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header .logo p {
    cursor: pointer;

    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

header .logo p img {
    margin-top: -0.5rem;
}

header .shortcuts li:hover {
    cursor: pointer;
}

aside .menu .dd-item.active > div * {
    border-bottom: dotted #00a8ec 1px !important;
}

:not(pre) > code {
    padding: .1em !important;
	border-radius: .3em;
	white-space: normal;
    background: #f5f2f0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}

/* .mermaid > svg {
    width: 50% !important;
} */