article {
    background-color: #eeeeee;

    display: flex;
    flex-direction: row;

    justify-content: space-evenly;

    font-family: 'Open Sans', sans-serif;
    color: #212121;
    font-size: 16px;
}

article a {
    color: #212121;
}

article .article-content {
    width: 55%;

    background-color: white;
    padding: 15px;
}

article .article-content h1 {
    font-size: 30px;

    font-family: 'Roboto', sans-serif;
}

article .article-content h2 {
    font-size: 24px;

    color: #20aced;

    font-weight: normal;
}

article .article-content .command-window {
    font-family: system, monospace;
    color: white;

    font-weight: bold;

    background-color: black;
    border: 3px solid #eeeeee;
    padding: 5px;
    margin: 10px;
}

article aside {
    background-color: white;

    font-size: 20px;

    padding: 10px;
    border-radius: 5px;

    margin: 10px 0px 10px 0px;
}

article nav {
    display: flex;

    flex-direction: column;
}

article nav a {
    padding-bottom: 5px;

    border-bottom: 1px solid #212121;

    margin-bottom: 10px;

    text-align: center;
}

article .article-content blockquote {
    color: #858585;

    border-left: 3px solid #cccccc;
    border-radius: 3px;
    
    padding: 10px;

    margin-left: 0px;
    margin-right: 0px;
}

article .article-content p {
    margin: 0px;
}