article {
    background-color: #eeeeee;

    display: flex;
    justify-content: center;
}

.article-content {
    width: 70%;

    background-color: white;
    padding: 10px;

    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.article-content h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    
}

.article-content h2 {
    color: #20aced;
    font-size: 24px;

    border-bottom: #212121 1px solid;
}

.article-content h3 {
    font-size: 20px;
}

.article-content h4 {
    font-style: italic;

    color: #20aced;
}

.article-content a {
    color: #212121;

    transition-duration: 0.2s;
}

.article-content a:hover {
    color: #20aced;
}

.article-content ol {
    list-style: upper-roman;
    font-size: 14px;
    columns: 2;
}

.article-content ol li p {
    margin: 5px 0px 5px 0px;
}