article {
    background-color: #eeeeee;

    display: flex;
    justify-content: center;
}

.article-content {
    background-color: white;
    width: 60%;

    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 15px;
}

.article-content h2 {
    color: #20aced;
    font-weight: normal;
    font-size: 24px;
}

.article-content hr {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;

    height: 1px;

    border-color: #212121;
}

.article-content .action-container {
    padding: 20px 10px 20px 10px;

    display: flex;
    justify-content: space-evenly;
}

.article-content .action-container .action-button {
    display: block;

    background-color: #20aced;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 1px 1px 5px 0px #212121;

    width: 270px;
    min-width: 270px;

    text-align: center;

    border: none;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: white;

    cursor: pointer;
}

.article-content .action-container .action-button:hover {
    color: white;
}

.article-content .action-container .action-button:active {
    box-shadow: none;
    background-color: #47c5ff;
}

.article-content form {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    padding: 0px 10px 0px 10px
}

.article-content form .text-input {
    width: 20%;

    font-size: 16px;
    padding: 5px;

    border: none;
    border-bottom: solid 1px #212121;

    outline: none;

    font-family: "Roboto", sans-serif;

    transition-duration: 0.1s;
}

.article-content form .text-input:focus {
    border-bottom-color: #20aced;
}

.article-content form textarea {
    resize: none;

    overflow-y: scroll;
    overflow-x: wrap;

    outline: none;

    border: solid 1px #212121;
    
    padding: 5px
}

.article-content form label {
    padding: 10px 0px 10px 0px
}

.article-content .spacer {
    height: 92px;
}