@import "constants.scss";

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 2rem;

    .title-text {
        color: $text-color;
        font-family: $ui-font;
        font-size: 1.8rem;

        margin-bottom: 0.5rem;
    }

    svg {
        .title-svg-left {
            fill: $accent-primary;
        }

        .title-svg-right {
            fill: $accent-secondary;
        }
    }
}