@import "./static/scss/constants.scss";

.book-container {    
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    aside {
        position: sticky;
        top: 5rem;

        width: 20%;
        margin-top: -1rem;

        background-color: white;
        padding: 2rem 1rem 1rem 1rem;

        .book-toc-title {        
            font-family: $ui-font;
            font-size: 1.5rem;
            font-weight: bold;

            a {
                text-decoration: none;
                color: $accent-primary;
            }
        }

        .book-unit {
            padding-left: 1rem;

            .unit-title {
                color: $accent-secondary;
                font-family: $ui-font;
                font-size: 1.3rem;
                font-weight: bold;
            }

            .chapter-list {
                padding-left: 1rem;
                margin-top: 0.3rem;
                
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: flex-start;

                a {
                    color: $text-color;
                    font-family: $text-font;
                    font-size: 1.1rem;
                    text-decoration: none;

                    transition-duration: 0.5s;
                }

                a:hover {
                    color: $accent-primary;
                    transition-duration: 0.5s;
                }
            }
        }
    }

    .book-page {
        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        article {
            width: 70%;

            background-color: white;
            padding: 2rem 3rem 2rem 3rem;

            font-family: $text-font;
            font-size: 1.1rem;
            color: $text-color;
            line-height: 1.7rem;

            a {
                color: $accent-primary;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;

                th {
                    text-align: center;
                }

                tr:nth-child(2n) {
                    background-color: $bg-grey;
                }

                th, td {
                    border: 1px solid $text-color;
                    padding: 0.3rem;
                }  
            }

            :not(pre) code {
                background-color: $bg-inline-code;
                padding: 0.2rem;
                border-radius: 0.3rem;
                color: $text-color;
                font-family: $code-font;
                font-size: 1rem;
            }

            blockquote {
                background-color: $bg-light-accent;
                padding: 1rem;
                border-radius: 0.3rem;

                p {
                    margin: 0;
                }
            }
        }

        .content-summary {
            position: sticky;
            top: 10rem;

            background-color: $bg-light-accent;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 0.3rem;

            .content-title {
                font-family: $ui-font;
                font-size: 1.2rem;
                color: $accent-primary;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .content-list {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                a {
                    color: $accent-secondary;
                    text-decoration: none;
                    font-family: $text-font;
                }
            }
        }
    }
}