@import "constants.scss";
@import "pages/doc-page.scss";

.doc-container {    
    min-height: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    aside {
        position: sticky;
        top: 5rem;

        width: 20%;
        margin-top: -1rem;
        margin-right: 1rem;

        background-color: white;
        padding: 2rem 1rem 1rem 1rem;

        .doc-group-toc-title {        
            font-family: $ui-font;
            font-size: 1.5rem;
            font-weight: bold;
            text-decoration: none;
            color: $accent-primary;
        }

        .doc-group-toc {
            margin-left: 0.5rem;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            .doc-group-index {
                margin-top: 0.3rem;

                a {
                    color: $text-color;
                    font-family: $ui-font;
                    font-size: 1.1rem;
                    text-decoration: none;

                    transition-duration: 0.5s;
                }

                a:hover {
                    color: $accent-secondary;
                    transition-duration: 0.5s;
                }
            }
        }

        .doc-chapter {
            width: 100%;

            .doc-chapter-header {
                margin-top: 0.2rem;
                // margin-bottom: 0.3rem;

                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                .doc-chapter-title {
                    color: $text-color;
                    font-family: $ui-font;
                    font-size: 1.1rem;
                    text-decoration: none;
                }
            }

            .doc-chapter-sections {
                margin-left: 0.5rem;

                .doc-section {
                    a {
                        color: $text-color;
                        font-family: $ui-font;
                        font-size: 1rem;
                        text-decoration: none;
    
                        transition-duration: 0.5s;
                    }
    
                    a:hover {
                        color: $accent-secondary;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
    }

    .doc-page {
        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;

        article .nav-buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            width: 100%;

            .nav-button {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                .nav-button-text {
                    font-family: $ui-font;
                    font-size: 1.3rem;

                    transition-duration: 0.5s;
                }  
                
                feather-icon .feather-icon svg {
                    transition-duration: 0.5s;
                }
            }

            .nav-button:hover {
                cursor: pointer;

                .nav-button-text {
                    color: $accent-primary;

                    transition-duration: 0.5s;
                }

                feather-icon .feather-icon svg {
                    stroke: $accent-primary;

                    transition-duration: 0.5s;
                }
            }
        }
    }
}