<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Whirlwind</title>
        <link rel="icon" href="static/images/logo.png"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300|Roboto+Mono" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="static/css/index.css" rel="stylesheet" type="text/css"/>
        <link href="static/vendor/prism/prism.css" rel="stylesheet" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/vendor/prism/prism.js" data-manual></script>
        <script src="static/js/language-whirlwind.js"></script>
        <script src="static/js/index.js"></script>
    </head>
    <body>
        <header>
            <div class="visible-title">
                <img src="static/images/logo.png" height="50px" width="50px"/>
                <span>Whirlwind</span>
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="/install">Install</a>
                <a href="/docs">Docs</a>
                <a href="/packages">Packages</a>
                <a href="/blog">Blog</a>
                <a href="/developers">Development</a>
            </nav>
        </header>
        <img src="static/images/wallpaper.jpg" height="1080px" width="1920px"/>
        <div class="demo-prompt">
            <div class="editor-container">
                <div id="home-code-viewer" class="code-viewer">
                    <pre style="margin:0px;"><code id="viewer-content" class="language-whirlwind"></code></pre>
                </div>
            </div>
            <div class="description">
                <!--concurrency-->
                <span id="demo-concur" class="visible"><h1>Concurrent</h1>
                <p>Whirlwind allows for fluid, thread-safe, manageable concurrency through the use of locking
                and asynchronous functions.</p></span>
                <!--functional programming-->
                <span id="demo-func"><h1>Functional</h1>
                <p>Whirlwind also has features to allow for functional programming, such as comprehensions and
                aggregators.</p></span>
                <!--generics-->
                <span id="demo-generic"><h1>Generic</h1>
                <p>Whirlwind provides a powerful generic typing system to allow for efficient and dynamic programming.</p></span>
                <!--modules-->
                <span id="demo-objects"><h1>Object Oriented</h1>
                <p>Whirlwind brings a new kind of object orientation to the table, while still remaining simple and efficient.</p></span>
            </div>
            <div class="demo-selections">
                <button id="demo-left">&lt;</button>
                <button id="demo-right">&gt;</button>
                <span><span id="demo-example-number">1</span> / 4</span>
            </div>
        </div>
        <article>
        </article>
    </body>
</html>