<div class="book-container">
    <aside>
        <div class="book-toc-title">
            <a href="/docs/book">The Chai Book</a>
        </div>
        {{ range .BookUnits }}
            <div class="book-unit">
                <span class="unit-title">{{ .UnitTitle }}</span>
                <div class="chapter-list">
                    {{ range .Chapters }}
                        <a href="/docs/book/{{ .ChapterUnitHref }}/{{ .ChapterHref }}">{{ .ChapterTitle }}</a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </aside>
    <div class="book-page">
        <article>
            {{ .Content }}
            <div class="nav-buttons" x-data>

                {{ if .Prev}}
                    <div class="nav-button nav-prev" @click="window.location.href = '/docs/book{{ .Prev.Href }}'">
                        <feather-icon name="chevron-left" dim="70px"></feather-icon>
                        <span class="nav-button-text">{{ .Prev.DestName }}</span>
                    </div>
                {{ else }}
                    <div class="nav-button nav-prev"></div>  
                {{ end }}

                {{ if .Next}}
                    <div class="nav-button nav-next" @click="window.location.href = '/docs/book{{ .Next.Href }}'">
                        <span class="nav-button-text">{{ .Next.DestName }}</span>
                        <feather-icon name="chevron-right" dim="70px"></feather-icon>
                    </div>
                {{ else }}
                    <div class="nav-button nav-next"></div>
                {{ end }}
            </div>
        </article>
        <div class="content-summary">
            <span class="content-title">On This Page</span>
            <div class="content-list">
                {{ range .Sections }}
                    <a href="#{{ .SectionTag }}">{{ .SectionTitle }}</a>
                {{ end }}
            </div>
        </div>
    </div>
</div>

<script>
    Prism.languages.chai = window.language_chai
    let codeBlocks = document.getElementsByTagName("pre")
    for (let item of codeBlocks) {
        if (item.classList.length == 0) {
            item.classList.add("language-chai")
        }
    }

    let sections = document.getElementsByTagName("h2")
    for (let i in sections) {
        let item = sections[i]
        item.innerHTML = `<a name="section${i}"/> ${item.innerText}`
    }
</script>