<div class="doc-page-container">
    <article>
        {{ .Content }}
    </article>
    <div class="content-summary">
        <span class="content-title">On This Page</span>
        <div class="content-list">
            {{ range .Headings }}
                <a href="#{{ .HeadingTag }}">{{ .HeadingText }}</a>
            {{ end }}   
        </div>
    </div>
</div>

<script>
    for (let elem of document.getElementsByTagName("pre")) {
        if (elem.classList.length == 0) {
            elem.classList.add("language-chai")
        } else {
            elem.setAttribute('class', `language-${elem.getAttribute('class')}`)
        }
    }
</script>