<div class="doc-page-container">
    <article>
        {{ .Content }}
    </article>
    <div class="content-summary">
        <span class="content-title">On This Page</span>
        <div class="content-list">
            {{ range .Sections }}
                <a href="#{{ .SectionTag }}">{{ .SectionTitle }}</a>
            {{ end }}
        </div>
    </div>
</div>

<script>
    Prism.languages.chai = window.language_chai

    for (let elem of document.getElementsByTagName("pre")) {
        elem.classList.add("language-chai")
    }
</script>