<div class="doc-container">
    <aside>
        <div class="doc-group-toc-title">
            {{ .GroupTitle }}
        </div>
        <div class="doc-group-toc">
            <div class="doc-group-index">
                <a href="{{ .Aside.IndexHref }}">{{ .Aside.IndexTitle }}</a>
            </div>
            {{ $context := . }}
            {{ range $_, $chapter := .Aside.Chapters }}
                <div class="doc-chapter" x-data="{ open: {{ eq $chapter.ChapterN $context.ChapterN }} }">
                    <div class="doc-chapter-header" x-on:click="open = !open">
                        <div class="doc-chapter-title"><strong>{{ $chapter.ChapterN}}.</strong> {{ $chapter.Title }}</div>
                        <feather-icon :name="open ? 'chevron-up' : 'chevron-down'" dim="25px"></feather-icon>
                    </div>
                    <div class="doc-chapter-sections" x-show="open" x-transition>
                        {{ range $_, $section := $chapter.Sections }}
                            <div class="doc-section">
                                <a href="{{ $section.Href }}"><strong>{{ $chapter.ChapterN }}.{{ $section.SectionN }}</strong> {{ $section.Title }}</a>
                            </div>
                        {{ end }}
                    </div>                    
                </div>
            {{ end }}
        </div>       
    </aside>
    <div class="doc-page">
        <article>
            {{ .Content }}
            <div class="nav-buttons" x-data>

                {{ if .Prev}}
                    <div class="nav-button nav-prev" @click="window.location.href = '{{ .Prev.Href }}'">
                        <feather-icon name="chevron-left" dim="70px"></feather-icon>
                        <span class="nav-button-text">{{ .Prev.Title }}</span>
                    </div>
                {{ else }}
                    <div class="nav-button nav-prev"></div>  
                {{ end }}

                {{ if .Next}}
                    <div class="nav-button nav-next" @click="window.location.href = '{{ .Next.Href }}'">
                        <span class="nav-button-text">{{ .Next.Title }}</span>
                        <feather-icon name="chevron-right" dim="70px"></feather-icon>
                    </div>
                {{ else }}
                    <div class="nav-button nav-next"></div>
                {{ end }}
            </div>
        </article>
        {{ if len .Headings | lt 0 }}
            <div class="content-summary">
                <div class="content-title">On This Page</div>
                <div class="content-list">
                    {{ range .Headings }}
                        <a href="#{{ .HeadingTag }}">{{ .HeadingText }}</a>
                    {{ end }}     
                </div>
            </div>
        {{ end }}
    </div>
</div>

<script src="/static/js/doc.js" defer></script>
