<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'components/head.html' %}

        <link href="/static/css/spec.css" rel="stylesheet" type="text/css"/>
        
        <!--prism-->
        <link href="/static/vendor/prism/prism.css" rel="stylesheet" type="text/css"/>
        <script src="/static/vendor/prism/prism.js"></script>

        <title>Language Specification</title>
    </head>
    <body>
        {% include 'components/header.html' %}

        <article>
            <div class="article-content">
                {{ doc|safe }}
            </div>
        </article>

        {% include 'components/footer.html' %}

        <script>
            let dp = new DOMParser();
            let elements = $('pre > code');

            for (var i = 0; i < elements.length; i++) {
                let html = dp.parseFromString(elements[i].innerHTML, 'text/html').documentElement.textContent;

                if (i < 3) {
                    elements[i].innerHTML = Prism.highlight(html, Prism.languages.js);
                    elements[i].classList.add('.language-javascript');
                }
                else {
                    elements[i].innerHTML = Prism.highlight(html, Prism.languages.whirlwind);
                    elements[i].classList.add('.language-whirlwind');
                }
            }
        </script>
    </body>
</html>