<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'components/head.html' %}

        <link href="/static/css/spec.css" rel="stylesheet" type="text/css"/>
        
        <!--prism-->
        <link href="/static/vendor/prism/prism.css" rel="stylesheet" type="text/css"/>
        <script src="/static/vendor/prism/prism.js"></script>

        <title>Language Specification</title>
    </head>
    <body>
        {% include 'components/header.html' %}

        <article>
            <div class="article-content">
                {{ doc|safe }}
            </div>
        </article>

        {% include 'components/footer.html' %}
    </body>
</html>