<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'components/head.html' %}

        <link href="/static/css/guide.css" rel="stylesheet" type="text/css"/>

        <!--prism-->
        <script src="/static/vendor/prism/prism.js"></script>
        <link href="/static/vendor/prism/prism.css" rel="stylesheet" type="text/css"/>

        <!--scipts-->
        <script src="/static/js/language-whirlwind.js"></script>

        <title>Whirlwind Startup Guide</title>
    </head>
    <body>
        {% include 'components/header.html' %}
        <article>
            <div class="article-content">
                {{ content|safe }}
            </div>
            <aside>
                <nav>
                    {% for name in guide_names %}
                        <a href="/docs/guide/chapter{{ loop.index|safe }}">{{ name|safe }}</a>
                    {% endfor %}
                </nav>
            </aside>
        </article>
        <footer>
            {% include 'components/footer.html' %}
        </footer>

        <script>
            let dp = new DOMParser();
            let elements = $('.language-whirlwind');

            for (var i = 0; i < elements.length; i++) {
                let html = dp.parseFromString(elements[i].innerHTML, 'text/html').documentElement.textContent

                elements[i].innerHTML = Prism.highlight(html, Prism.languages.whirlwind);
            }
        </script>
    </body>
</html>