<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'head.html' %}

        <!--style sheets-->
        <link href="static/css/index.css" rel="stylesheet" type="text/css"/>

        <!--prism-->
        <script src="static/vendor/prism/prism.js"></script>
        <link href="static/vendor/prism/prism.css" rel="stylesheet" type="text/css"/>

        <!--scipts-->
        <script src="static/js/language-whirlwind.js"></script>

        <title>Whirlwind Language</title>
    </head>
    <body>
        <div class="main-panel">
            <div class="top-bar">
                <nav>
                    <ul>
                        <li><a href="/install">install</a></li>
                        <li><a href="/docs">docs</a></li>
                        <li><a href="/packages">packages</a></li>
                    </ul>
                </nav>
            </div>
            <div class="title-box">
                <img class="logo" src="static/images/logo.png" width="350px" height="350px"/>
                <h1>Whirlwind</h1>
                <h2>A lightning fast, intuitive systems language for the modern world.</h2>
            </div>
        </div>

        <div class="explanation">
            <div class="title">
                <div class="title-wrapper">
                    <h2>Why Whirlwind?</h2>
                    <div class="underline"></div>
                </div> 
            </div>

            <div class="text-wrapper">
                <div class="text">
                    Whirlwind is a language designed to be just as fast to run as it is to write. 
                    It is statically typed with no runtime garbage collector, while simultaneously
                    providing powerful concurrency and flexible generics. It allows you to create and use 
                    objects and giving you the full power of closures, comprehensions, and more.  It introduces
                    the new, powerful language feature of agents and all this with a clean, consistent syntax
                    that is easy to learn.  In short, it provides a toolkit filled with everything you need while
                    not being bloated or opinionated.
                </div>
            </div>
        </div>
        <div class="examples">
            <div class="title">
                <div class="title-wrapper">
                    <h2>Examples</h2>
                    <div class="underline"></div>
                </div>         
            </div>

            <div class="example-panels">
                <div class="example1">
                    <h3>Fibonacci Closure</h3>
                    <div class="code-window">
                        <pre><code class="language-whirlwind">
include { Println } from stdio;

func fib() func()(int) {
    let (a = 0, b = 1);

    func f() int {
        yield a;

        a, b = b, a + b;
    }

    return f;
}

func main() {
    let f = fib();

    // prints first 10 fibonacci numbers
    for (i = 0; i < 10; i++) {
        Println(f());
    }

    f = fib();
    f(); // 0
}
                        </code></pre>
                    </div>
                </div>
                <div class="example2">
                    <h3>Agent Server</h3>
                    <div class="code-window">
                        <pre><code class="language-whirlwind">
include http;
include strconv;

agent Server {
    when ("http-0/" => _) { http::Respond(0, "Home Page"); }

    when ("http-0/store" => _) { http::Respond(0, "Welcome to the Store!"); }

    when (req: http::Request => req.path.startswith("/api")) {
        if (req.path.has("v2") && req.method == "POST")
            http::Respond(0, processReq(req)); 
        else
            http::Respond(0, http::Response(403));
    }

    func processReq(r: http::Request) str {
        return strconv::ToString(strconv::ParseInt(r.data["num"]) ~^ 2);
    }
}

func main() {
    let srv = new http::AgentServer();

    srv.listen("0.0.0.0", 8000);
}
                        </code></pre>
                    </div>
                </div>
                <div class="example3">
                    <h3>Custom Iterable</h3>
                        <div class="code-window">
                            <pre><code class="language-whirlwind">
type Range : Iterable&lt;uint&gt; {
    priv let (start, end, step): uint;

    constructor(s, e: uint, st = 1) {
        this.start, this.end, this.step = s, e, st;
    }

    priv func at(i: uint) (uint, bool) {
        let val = this.start + (i * this.step);

        if (val < this.end)
            return val, true;
        else
            return null, false;
    }

    func begin() uint => this.start;
    func end() uint => this.end;
}

func main() {
    let sum = new Range(1, 11).foldl(
        |a, b: uint| => a + b
    );
}
                            </code></pre>
                        </div>
                </div>
                <div class="example4">
                    <h3>Binary Search Tree</h3>

                    <div class="code-window">
                        <pre><code class="language-whirlwind">
struct Node {
    val: int;
    left, right: *Node;
}

func insert(root: *Node, val: int) {
    if (root == null)
        root = &new Node { val = val, left = null, right = null };

    if (root->val > val)
        insert(root->left, val);
    else
        insert(root->right, val);
}

func main() {
    let arr = {2, 3, 0, 1, 5, 4, 7, 6, 8};

    let root = new Node { val = arr[0], left = null, right = null };

    for (n <- arr) {
        insert(&root, n);
    }
}

                        </code></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-panel-wrapper">
            <div class="title">
                <div class="title-wrapper">
                    <h2>Resources</h2>
                    <div class="underline"></div>
                </div>   
            </div>

            <div class="three-panel">
                <div class="sub-panel getting-started">
                    <h2>Getting Started</h2>
                    <p>Getting started is often the hardest part, so we've made it easy for you.</p>
                    <nav>
                        <a href="docs/guide">Get Started with Whirlwind</a>
                        <a href="docs/blend">Get Started with Blend</a>
                    </nav>
                </div>
                <div class="sub-panel community">
                    <h2>Community</h2>
                    <p>Come and join the Whirlwind family, and no, we don't have social media.</p>
                    <nav>
                        <!--add in links-->
                        <a>Discord</a>
                        <a>Slack</a>
                        <a>Reddit</a>
                    </nav>
                </div>
                <div class="sub-panel contributing">
                    <h2>Contributing</h2>
                    <p>Help us make Whirlwind better for everyone and make our lives a little easier.</p>
                    <nav>
                        <!--add in blend link-->
                        <a href="https://github.com/ComedicChimera/Whirlwind">Whirlwind Github</a>
                        <a>Blend Github</a>
                        <a href="/suggestions">Suggestions</a>
                    </nav>
                </div>
            </div>
        </div>    
        <footer>
            {% include 'footer.html' %}
        </footer>

        <script>
            let dp = new DOMParser();
            let elements = $('.language-whirlwind');

            for (var i = 0; i < elements.length; i++) {
                let html = dp.parseFromString(elements[i].innerHTML, 'text/html').documentElement.textContent

                elements[i].innerHTML = Prism.highlight(html, Prism.languages.whirlwind);
            }
        </script>
    </body>
</html>