<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'head.html' %}

        <!--style sheets-->
        <link href="static/css/index.css" rel="stylesheet" type="text/css"/>

        <!--prism-->
        <script src="static/vendor/prism/prism.js"></script>
        <link href="static/vendor/prism/prism.css" rel="stylesheet" type="text/css"/>

        <!--scipts-->
        <script src="static/js/language-whirlwind.js"></script>

        <title>Whirlwind Language</title>
    </head>
    <body>
        <div class="main-panel">
            <div class="top-bar">
                <nav>
                    <ul>
                        <li><a href="/install">install</a></li>
                        <li><a href="/docs">docs</a></li>
                        <li><a href="/packages">packages</a></li>
                    </ul>
                </nav>
            </div>
            <div class="title-box">
                <img class="logo" src="static/images/logo.png" width="350px" height="350px"/>
                <h1>Whirlwind</h1>
                <h2>A lightning fast, intuitive systems language for the modern world.</h2>
            </div>
        </div>

        <div class="explanation">
            <div class="title">
                <div class="title-wrapper">
                    <h2>Why Whirlwind?</h2>
                    <div class="underline"></div>
                </div> 
            </div>

            <div class="text-wrapper">
                <div class="text">
                    Whirlwind is a language designed to be just as fast to run as it is to write. 
                    It is statically typed with no runtime garbage collector, easy access to memory,
                    and powerful concurrency while simultaneously supporting high level programming constructs
                    such as closures, generics, type classes, interfaces, and more.  Plus, it boasts a very
                    flexible and adaptable type system and a clean, consistent syntax that is easy to learn and remember. 
                    In short, it provides a toolkit filled with everything you need while not being bloated or opinionated.
                </div>
            </div>
        </div>
        <div class="examples">
            <div class="title">
                <div class="title-wrapper">
                    <h2>Examples</h2>
                    <div class="underline"></div>
                </div>         
            </div>

            <div class="example-panels">
                <div class="example1">
                    <h3>Fibonacci Closure</h3>
                    <div class="code-window">
                        <pre><code class="language-whirlwind">
include { Println } from io::std;

func fib() func()(int) {
    let (a = 0, b = 1);

    func f() int {
        yield a;

        a, b = b, a + b;
    }

    return f;
}

func main() {
    let f = fib();

    // prints first 10 fibonacci numbers
    for (i = 0; i < 10; i++) {
        Println(f());
    }

    f = fib();
    f(); // 55
}
                        </code></pre>
                    </div>
                </div>
                <div class="example2">
                    <h3>LSD Radix Sort</h3>
                    <div class="code-window">
                        <pre><code class="language-whirlwind">
include { Println } from io::std;

func radixSort(list: [int]) [int] {
    let mx = list.max();

    for (it = 0; 10 ~^ it < mx; it++) {
        let buckets = [listOf&lt;int&gt;() | _ <- 0..10];

        for (item <- list)
            buckets[item ~/ (10 ~^ it) % 10].push(item);

        list = list.flatten().collect();
    }

    return list;
}

func main() {
    let list = [9, 4, 7, 8, 2, 3, 9, 0, 0, 1];

    list = radixSort(list);

    Println(list); // [0, 0, 1, 2, 3, 4, 7, 8, 9, 9]
}

                        </code></pre>
                    </div>
                </div>
                <div class="example3">
                    <h3>Optional Type</h3>
                        <div class="code-window">
                            <pre><code class="language-whirlwind">
include { Println } from io::std;

type Option&lt;T&gt;
    | Some(T)
    | None
    ;

interf&lt;T&gt; for Option is Monad {
    operator >>= (fn: func(T)(Option&lt;T&gt;)) Option&lt;T&gt; {
        if (this is None)
            return None;
        else
            return fn(from this as Some);
    }

    // -- snip -- (:> and ~* operator overloads)
}

func main() {
    let (optA = Some(5), optB = Some(6));

    let sum = optA >>= |x| => optB >>= |y| => Some(x + y);
    
    Println(from sum as Some); // 11
}
                            </code></pre>
                        </div>
                </div>
                <div class="example4">
                    <h3>Binary Search Tree</h3>

                    <div class="code-window">
                        <pre><code class="language-whirlwind">
struct Node {
    val: int;
    left, right: *Node;
}

func insert(root: *Node, val: int) {
    if (root == null)
        root = &new Node { val = val, left = null, right = null };

    if (root->val > val)
        insert(root->left, val);
    else
        insert(root->right, val);
}

func main() {
    let arr = {2, 3, 0, 1, 5, 4, 7, 6, 8};

    let root = new Node { val = arr[0], left = null, right = null };

    for (n <- arr) {
        insert(&root, n);
    }
}

                        </code></pre>
                    </div>
                </div>
            </div>
        </div>
        <div class="three-panel-wrapper">
            <div class="title">
                <div class="title-wrapper">
                    <h2>Resources</h2>
                    <div class="underline"></div>
                </div>   
            </div>

            <div class="three-panel">
                <div class="sub-panel getting-started">
                    <h2>Getting Started</h2>
                    <p>Getting started is often the hardest part, so we've made it easy for you.</p>
                    <nav>
                        <a href="docs/guide">Get Started with Whirlwind</a>
                        <a href="docs/blend">Get Started with Blend</a>
                    </nav>
                </div>
                <div class="sub-panel community">
                    <h2>Community</h2>
                    <p>Come and join the Whirlwind family, and no, we don't have social media.</p>
                    <nav>
                        <!--add in links-->
                        <a>Discord</a>
                        <a>Slack</a>
                        <a>Reddit</a>
                    </nav>
                </div>
                <div class="sub-panel contributing">
                    <h2>Contributing</h2>
                    <p>Help us make Whirlwind better for everyone and make our lives a little easier.</p>
                    <nav>
                        <!--add in blend link-->
                        <a href="https://github.com/ComedicChimera/Whirlwind">Whirlwind Github</a>
                        <a>Blend Github</a>
                        <a href="/suggestions">Suggestions</a>
                    </nav>
                </div>
            </div>
        </div>    
        <footer>
            {% include 'footer.html' %}
        </footer>

        <script>
            let dp = new DOMParser();
            let elements = $('.language-whirlwind');

            for (var i = 0; i < elements.length; i++) {
                let html = dp.parseFromString(elements[i].innerHTML, 'text/html').documentElement.textContent

                elements[i].innerHTML = Prism.highlight(html, Prism.languages.whirlwind);
            }
        </script>
    </body>
</html>
