<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'components/head.html' %}

        <link href="/static/css/suggestions.css" type="text/css" rel="stylesheet"/>

        <title>Make Suggestion</title>
    </head>
    <body>
        {% include 'components/header.html' %}

        <article>
            <div class="article-content">
                <h2>Make a Suggestion</h2>
                <p>Make sure that you have throroughly read the suggestions section before submitting!</p>

                <form>
                    <label for="#title-input">Title</label>
                    <input id="title-input" class="text-input" type="text">

                    <label for="#name-input">Name</label>
                    <input id="name-input" class="text-input" type="text">

                    <label for="#email-input">Email</label>
                    <input id="email-input" class="text-input" type="text">

                    <label for="#suggestion-body">Suggestion Body</label>
                    <textarea id="suggestion-body" rows="20"></textarea>
                </form>

                <div class="action-container">
                    <button id="submit-button" class="action-button">Submit</button>
                    <a class="action-button" href="/suggestions">Cancel</a>
                </div>

                <div class="spacer"></div>
            </div>
        </article>

        {% include 'components/footer.html' %}

        <script>
            // sql alchemy prevents sql injection
            // no need for sql sanitization here
            $('#submit-button').mousedown(() => {
                let title = $('#title-input').val(),
                    name = $('#name-input').val(),
                    email = $('#email-input').val(),
                    body = $('#suggestion-body').val();
                
                if (title.length > 80) {
                    displayError('The length of your title must be less than 80');
                    return;
                }   
                else if (name.length > 80) {
                    displayError('The length of your name must be less than 80 characters.');
                    return;
                }
                else if (email.length > 100) {
                    displayError('Please use an email that is less than 100 characters long.');
                    return;
                }
                else if (body.length > 1000) {
                    displayError('Your suggestion body cannot be more than 1000 characters long.');
                    return;
                }

                $.ajax({
                    url: '/suggestions/make',
                    method: 'post',
                    contentType: 'application/json',
                    data: {
                        title: title,
                        name: name,
                        email: email,
                        body: body
                    },
                    error: (jqXhr, textStatus, errorThrown) => {
                        console.log(errorThrown);
                        displayError('An unknown error has occurred.');
                    }
                });

            })

            function displayError(errorText) {
                alert(errorText);
            }
        </script>
    </body>
</html>