<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'components/head.html' %}

        <link href="/static/css/suggestions.css" type="text/css" rel="stylesheet"/>

        <title>View Suggestions</title>
    </head>
    <body>
        {% include 'components/header.html' %}

        <article>
            <div class="article-content">
                <div class="search-header">
                    <div class="orderby">
                        <label for="#orderby-select">Order By:</label>
                        <select id="orderby-select">
                            <option value="recent">Recent</option>
                            <option value="accepted">Accepted</option>
                            <option value="alpha">A-Z</option>
                            <option value="user">Users A-Z</option>
                        </select>
                    </div>
                    
                    <div class="search-box">
                        <input id="search-input" type="text" placeholder="Search"/>
                        <img class="search-icon" src="/static/images/search.png" width="25px" height="25px"/>
                    </div>
                </div>
                <div class="search-results">
                    <div class="result-list">
                        {{ results|safe }}
                    </div>
                    <div class="page-selector">
                        
                    </div>
                </div>
            </div>
        </article>

        {% include 'components/footer.html' %}

        <script>
            // jinja sub in
            let page = {{ page|safe }};

            function updateResults() {
                $.ajax({
                    url: '/api/suggestions/view',
                    method: 'get',
                    data: {
                        "orderby": $('#orderby-select').val(),
                        "query_string": $('#search-input').val(),
                        "page": page
                    },
                    success: (data, status, jqXHR) => {
                        $('.result-list').html(data);

                        let pageSelectHtml = '';
                        if (page != 1)
                            pageSelectHtml += '<button class=\"prev-page\">Back</button>'

                        // handle next page

                        $('.page-selector').html(pageSelectHtml);

                    },
                    error: (jqXhr, textStatus, errorThrown) => {
                        console.log(errorThrown);
                        $('.result-list').html('<span class=\"error\">Failed to get results</span>')
                    }
                })
            }

            $('#search-input').keydown(e => {
                if (e.which == 13)
                    updateResults();
            });

            $('#orderby-select').change(updateResults);

            $('#orderby-select').val('{{ orderby|safe }}');
            updateResults();

            $('.next-page').mousedown(e => {
                updateResults();

                page++;
            });

            $('.prev-page').mousedown(e => {
                updateResults();
                page--;
            })
        </script>
    </body>
</html>