<!DOCTYPE html>

<html lang="en">
    <head>
        {% include 'components/head.html' %}

        <link href="/static/css/suggestions.css" type="text/css" rel="stylesheet"/>

        <title>View Suggestions</title>
    </head>
    <body>
        {% include 'components/header.html' %}

        <article>
            <div class="article-content">
                <div class="search-header">
                    <div class="orderby">
                        <label for="#orderby-select">Order By:</label>
                        <select id="orderby-select">
                            <option value="recent">Recent</option>
                            <option value="accepted">Accepted</option>
                            <option value="alpha">A-Z</option>
                            <option value="user">Users A-Z</option>
                        </select>
                    </div>
                    
                    <div class="search-box">
                        <input id="search-input" type="text" placeholder="Search"/>
                        <img class="search-icon" src="/static/images/search.png" width="25px" height="25px"/>
                    </div>
                </div>
                <div class="search-results">
                    <div class="result-list">
                        {{ results|safe }}
                    </div>
                    <div class="page-selector">
                        
                    </div>
                </div>
            </div>
        </article>

        {% include 'components/footer.html' %}
    </body>
</html>