<div class="tour-container">
    <div class="tour-panel left-panel">
        <div class="tour-nav">
            TODO
        </div>
        <div class="lesson-content">
            {{ .Chapter.LessonContent }}
        </div>
    </div>
    <div class="tour-panel right-panel">
        <div class="tour-playground-control">
            <div class="tour-playground-buttons">
                <!-- TODO: make reactive -->
                <button id="run-button">
                    <feather-icon name="play" dim="1.5rem"></feather-icon>
                </button>
                <button id="test-button">
                    <feather-icon name="check" dim="1.5rem"></feather-icon>
                </button>
                <button id="sol-button">
                    <feather-icon name="key" dim="1.5rem"></feather-icon>
                </button>
            </div>
        </div>
        <div id="editor" class="tour-editor">

        </div>
        <div class="tour-console">

        </div>
    </div>
</div>