<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="application-name" content="whirlwind-lang.org">
<meta name="description" content="The Whirlwind Programming Language">
<meta name="keywords" content="whirlwind programming language coding modern fast performant functional free open source software docs documentation">

{% load static %}

<!--page icon-->
<link rel="icon" type="image" href="{% static 'common/assets/logo.png' %}"/>

<!--fonts-->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&family=Source+Code+Pro&display=swap" rel="stylesheet">

<!--standard stylesheet-->
<link rel="stylesheet" type="text/css" href="{% static 'common/less/dist/styles.css' %}"/>