$accent-primary: #be6a15;
$accent-secondary: #ac3f21;
$text-color: #212121;
$shadow-grey: #878787;
$bg-grey: #efefef;
$bg-light-accent: #ebd5bf;
$bg-inline-code: #c8cfd6;
$ui-grey: #bbbbbb;
$hint-blue: #20aced;
$solution-green: #20ed8d;

$text-font: 'Karla', sans-serif;
$code-font: 'IBM Plex Mono', monospace;
$ui-font: 'Open Sans', sans-serif;
$logo-font: 'Roboto', sans-serif;