<!DOCTYPE html>

<html lang='en'>
    <head>
        <meta charset='utf-8'/>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
        <meta http-equiv="X-UA-Compatible" content='IE=edge'/>
        
        <meta name='application-name' content='whirlwind-lang.dev'/>
        <meta name='description' content='The Whirlwind programming language website'/>
        <meta name='keywords' content='whirlwind programming language docs documentation community packages package wrl'/>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:wght@300;400&family=Roboto&display=swap" rel="stylesheet">


        {% load static %}
        <link rel='icon' type='image/png' href='{% static "common/images/logo.png" %}'/>
        <link rel='stylesheet' type='text/css' href='{% static "common/css/styles.css" %}'/>
        <link rel='stylesheet' type='text/css' href='{% static "common/dist/whirlsite.bundle.css" %}'/>
        <link rel='stylesheet' type='text/css' href='{% static "common/vendor/prism.nord.css" %}'/>

        <script src='{% static "common/js/language-whirlwind.js" %}'></script>

        {% block head %}{% endblock %}

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="header"></div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>

        <script src='{% static "common/dist/whirlsite.bundle.js" %}'></script>       
    </body>
</html>