<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="application-name" content="whirlwind-lang.org">
<meta name="description" content="The Whirlwind Programming Language">
<meta name="keywords" content="whirlwind programming language coding object oriented functional agent oriented free open source software docs documentation">

<!--fonts-->
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Open+Sans|Open+Sans+Condensed:300|Roboto" rel="stylesheet"/>

<!--css-->
<link href="{{ prefix|safe }}static/css/styles.css" rel="stylesheet" type="text/css"/>

<!--page icon-->
<link rel="icon" type="image" href="{{ prefix|safe }}static/images/logo.png"/>

<!--jquery-->
<script src="{{ prefix|safe }}static/vendor/jquery/jquery-3.3.1.min.js"></script>